<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<html>
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<form th:action="@{/student}" th:object="${student}" th:method="post">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <tr>
        <label for="surname">Surname: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
    </tr>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>