<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Subjects</title>
</head>
<body>
<h3>Add subject: </h3>
<form th:action="@{/subjectsList}" th:object="${subject}" th:method="post">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <input type="submit" value="Add"/>
</form>

<h3>List of Subjects</h3>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Id</th>
    </tr>
    <tr th:each="subject : ${subjects}">
        <td><a th:href="@{/subjectInf/{id}(id=${subject.id})}" th:text="${subject.name}">Name</a></td>
        <td th:text="${subject.id}">Id</td>
    </tr>
</table>
<br>
<a th:href="@{/adminpage}">Return to Admin Page</a>
<br>
<a th:href="@{/}">Return to Homepage</a>
</body>
</html>