<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Info</title>
</head>
<body>
<h1>Person List</h1>
<br/><br/>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Id</th>
    </tr>
<td th:text="${teacher.name}">Value</td>
<td th:text="${teacher.surname}">Value</td>
<td th:text="${teacher.id}">Value</td>
</table>
</br>
<a th:href="@{/teacher(id=${teacher.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/teacher(id=${teacher.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>