<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher GradeBook</title>
</head>
<body>
<h3>Teacher: </h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Id</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${teacher.name}">Name</td>
    <td th:text="${teacher.surname}">Surname</td>
    <td th:text="${teacher.id}">Id</td>
    </tbody>
</table>

<h3>Subject: </h3>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Id</th>
    </tr>
    <tr th:each="subject : ${subjects}">
        <td th:text="${subject.name}">Name</td>
        <td th:text="${subject.id}">Id</td>
    </tr>
</table>
<a th:href="@{/teacherPage}">Return to TeacherPage</a>
</body>
</html>