<!DOCTYPE html>
<html lang="en"> <html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Teachers</title>
</head>
<h3>List of Teachers</h3>
<body>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Id</th>
        </tr>
        <tr th:each="teacher : ${teachers}">
        <td> <a th:href="@{/teacherInf/{id}(id=${teacher.id})}" th:text="${teacher.name}">Name</a></td>
        <td th:text="${teacher.surname}">Surname</td>
        <td th:text="${teacher.id}">Id</td>
        </tr>
    </table>
<a th:href="@{/teacher}">Add new teacher</a>
<a th:href="@{/}">Return to homepage</a>
</body>
</html>